In [1]:
import numpy as np
import pandas as pd

In [2]:
ecom = pd.read_csv("C:\\Users\\hp\\Desktop\\Python n DS\\Ecommerce Purchases.csv")

In [4]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [5]:
ecom.shape

(10000, 14)

In [6]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [7]:
ecom['Purchase Price'].mean()

50.34730200000025

In [8]:
ecom['Purchase Price'].max()

99.99

In [9]:
ecom['Purchase Price'].min()

0.0

In [10]:
ecom[ecom['Language'] == 'en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [16]:
ecom[ecom['Job'] == 'Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [22]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [23]:
ecom['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

In [24]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [27]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [42]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95.0)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [43]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95.0)].shape[0]

39

In [45]:
ecom[ecom['AM or PM'] == 'AM'].shape[0]

4932

In [47]:
ecom['Job'].value_counts()

Interior and spatial designer                                  31
Lawyer                                                         30
Social researcher                                              28
Designer, jewellery                                            27
Research officer, political party                              27
Purchasing manager                                             27
Special educational needs teacher                              26
Dietitian                                                      26
Charity fundraiser                                             26
Designer, fashion/clothing                                     26
Social worker                                                  26
Radio broadcast assistant                                      25
Sports therapist                                               25
Advice worker                                                  25
Network engineer                                               25
Psychologist, clinical                                         25
Engineer, water                                                25
Therapist, art                                                 25
Designer, interior/spatial                                     25
Secretary/administrator                                        25
Wellsite geologist                                             24
Civil engineer, contracting                                    24
Television camera operator                                     24
Hydrologist                                                    24
Geneticist, molecular                                          24
Scientist, clinical (histocompatibility and immunogenetics)    24
Psychotherapist, dance movement                                24
Armed forces technical officer                                 24
Buyer, retail                                                  23
Careers adviser                                                23
                                                               ..
Marketing executive                                             9
Surveyor, commercial/residential                                9
Administrator, local government                                 9
Engineer, technical sales                                       9
Senior tax professional/tax inspector                           9
Financial risk analyst                                          9
Investment banker, operational                                  9
Sales promotion account executive                               9
Armed forces training and education officer                     9
Doctor, general practice                                        9
Adult nurse                                                     9
Forensic psychologist                                           9
Toxicologist                                                    9
Trade union research officer                                    9
Nurse, learning disability                                      8
Exhibitions officer, museum/gallery                             8
Art gallery manager                                             8
Child psychotherapist                                           8
Bookseller                                                      8
Audiological scientist                                          8
Technical brewer                                                8
Diplomatic Services operational officer                         8
Music therapist                                                 7
Stage manager                                                   7
Special effects artist                                          7
Prison officer                                                  7
Actuary                                                         6
Editor, film/video                                              6
Information systems manager                                     5
Investment analyst                                              5
Name: Job, Length: 623, dtype: int64

In [62]:
ecom.groupby('Job')['Purchase Price'].sum()

Job
Academic librarian                                   527.47
Accommodation manager                                629.65
Accountant, chartered                               1051.31
Accountant, chartered certified                     1043.01
Accountant, chartered management                    1036.24
Accountant, chartered public finance                 476.42
Accounting technician                                516.75
Actor                                                597.89
Actuary                                              262.72
Acupuncturist                                        811.12
Administrator                                        859.06
Administrator, Civil Service                         552.88
Administrator, arts                                 1173.97
Administrator, charities/voluntary organisations     593.34
Administrator, education                             604.12
Administrator, local government                      562.13
Administrator, sports                                537.20
Adult guidance worker                               1009.91
Adult nurse                                          562.07
Advertising account executive                        623.78
Advertising account planner                          924.48
Advertising art director                            1113.19
Advertising copywriter                               661.33
Advice worker                                       1355.13
Aeronautical engineer                                563.71
Agricultural consultant                             1037.72
Agricultural engineer                                580.94
Aid worker                                           990.69
Air broker                                          1097.74
Air cabin crew                                      1096.11
                                                     ...
Therapist, nutritional                               628.17
Therapist, occupational                              492.39
Therapist, speech and language                       583.61
Therapist, sports                                   1003.02
Tour manager                                         471.90
Tourism officer                                      524.07
Tourist information centre manager                   710.68
Town planner                                         848.99
Toxicologist                                         470.10
Trade mark attorney                                  811.83
Trade union research officer                         574.66
Trading standards officer                            502.26
Training and development officer                     928.41
Translator                                          1203.22
Transport planner                                    799.56
Travel agency manager                                652.16
Tree surgeon                                         649.18
Veterinary surgeon                                   806.52
Video editor                                         869.18
Visual merchandiser                                  542.05
Volunteer coordinator                                952.66
Warden/ranger                                        925.65
Warehouse manager                                    584.28
Waste management officer                             559.35
Water engineer                                       701.43
Water quality scientist                              837.47
Web designer                                        1195.29
Wellsite geologist                                  1231.42
Writer                                               448.63
Youth worker                                         729.24
Name: Purchase Price, Length: 623, dtype: float64

Job
Academic librarian                                  47.951818
Accommodation manager                               37.038235
Accountant, chartered                               52.565500
Accountant, chartered certified                     57.945000
Accountant, chartered management                    69.082667
Accountant, chartered public finance                36.647692
Accounting technician                               43.062500
Actor                                               39.859333
Actuary                                             43.786667
Acupuncturist                                       47.712941
Administrator                                       53.691250
Administrator, Civil Service                        42.529231
Administrator, arts                                 51.042174
Administrator, charities/voluntary organisations    39.556000
Administrator, education                            40.274667
Administrator, local government                     62.458889
Administrator, sports                               48.836364
Adult guidance worker                               50.495500
Adult nurse                                         62.452222
Advertising account executive                       47.983077
Advertising account planner                         66.034286
Advertising art director                            55.659500
Advertising copywriter                              50.871538
Advice worker                                       54.205200
Aeronautical engineer                               46.975833
Agricultural consultant                             61.042353
Agricultural engineer                               44.687692
Aid worker                                          55.038333
Air broker                                          57.775789
Air cabin crew                                      54.805500
                                                      ...
Therapist, nutritional                              52.347500
Therapist, occupational                             44.762727
Therapist, speech and language                      53.055455
Therapist, sports                                   52.790526
Tour manager                                        47.190000
Tourism officer                                     37.433571
Tourist information centre manager                  54.667692
Town planner                                        53.061875
Toxicologist                                        52.233333
Trade mark attorney                                 73.802727
Trade union research officer                        63.851111
Trading standards officer                           41.855000
Training and development officer                    44.210000
Translator                                          70.777647
Transport planner                                   49.972500
Travel agency manager                               50.166154
Tree surgeon                                        54.098333
Veterinary surgeon                                  47.442353
Video editor                                        51.128235
Visual merchandiser                                 54.205000
Volunteer coordinator                               52.925556
Warden/ranger                                       42.075000
Warehouse manager                                   44.944615
Waste management officer                            50.850000
Water engineer                                      46.762000
Water quality scientist                             46.526111
Web designer                                        59.764500
Wellsite geologist                                  51.309167
Writer                                              44.863000
Youth worker                                        40.513333
Name: Purchase Price, Length: 623, dtype: float64

In [81]:
sum(ecom['Language'] == 'en')

1098